<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @profile.user %>
</p>

<p>
  <strong>Role:</strong>
  <%= @profile.role %>
</p>

<p>
  <strong>Course:</strong>
  <%= @profile.course %>
</p>

<%= link_to 'Edit', edit_profile_path(@profile) %> |
<%= link_to 'Back', profiles_path %>
