<p id="notice"><%= notice %></p>

<p>
  <strong>Opal number:</strong>
  <%= @card.opal_number %>
</p>

<p>
  <strong>Profile:</strong>
  <%= @card.profile %>
</p>

<%= link_to 'Edit', edit_card_path(@card) %> |
<%= link_to 'Back', cards_path %>
