<%= form_with(model: attendance, local: true) do |form| %>
  <% if attendance.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(attendance.errors.count, "error") %> prohibited this attendance from being saved:</h2>

      <ul>
      <% attendance.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :date %>
    <%= form.date_select :date %>
  </div>

  <div class="field">
    <%= form.label :chekin %>
    <%= form.time_select :chekin %>
  </div>

  <div class="field">
    <%= form.label :checkout %>
    <%= form.time_select :checkout %>
  </div>

  <div class="field">
    <%= form.label :status %>
    <%= form.text_field :status %>
  </div>

  <div class="field">
    <%= form.label :grade %>
    <%= form.number_field :grade %>
  </div>

  <div class="field">
    <%= form.label :card_id %>
    <%= form.text_field :card_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
