<p id="notice"><%= notice %></p>

<p>
  <strong>Date:</strong>
  <%= @attendance.date %>
</p>

<p>
  <strong>Chekin:</strong>
  <%= @attendance.chekin %>
</p>

<p>
  <strong>Checkout:</strong>
  <%= @attendance.checkout %>
</p>

<p>
  <strong>Status:</strong>
  <%= @attendance.status %>
</p>

<p>
  <strong>Grade:</strong>
  <%= @attendance.grade %>
</p>

<p>
  <strong>Card:</strong>
  <%= @attendance.card %>
</p>

<%= link_to 'Edit', edit_attendance_path(@attendance) %> |
<%= link_to 'Back', attendances_path %>
